# Servidor
BACKEND_PORT=

# Base de datos (PostgreSQL)
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

# Frontend
# URL del backend que consume el frontend
NEXT_PUBLIC_API_URL=

# Autenticación
JWT_SECRET=
JWT_EXPIRES_IN=1h

# Seguridad - Rate Limiting (Login)
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=10